body {
    background-color: rgb(188, 242, 242);
    margin: 0;
    text-align: center;
    font-family: 'Merriweather',serif;
}

h1 {
    color: #66BFBF;
    font-size: 80px;
    margin-top: 100px;
    font-family: 'Sacramento',cursive;   
}
 
h2 {
    color: #000;
    font-family: 'Montserrat',sans-serif;
}

h3 {
    color: #1999e1;
    font-family: 'Montserrat',sans-serif;
}

.top-container {
    position: relative;
    padding-top: 100px;
    margin-bottom: 6rem;
}

.middle-container {

}

img {
  /* border-radius: 50%; */
}

.sidimage1 {
    border-radius: 50%; 
}
 
.computerimg {
    border-radius: 50%; 
    float: left;
    margin-right: 40px;
    
   
}

.developerimg {
    border-radius: 50%; 
    float: right;
    margin-left: 60px;
    
}




.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.pro {
    text-decoration: underline
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

hr {
    margin: 5rem 0 5rem 0;
}

a {
    color: #11999e;
    font-family: 'Montserrat',sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #eaf6f6;
}

.copyright {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0px;
}

p {
    line-height: 2;
}
 
hr {
    border: dotted grey  6px;
    border-bottom: none;
    width: 4%;
    margin-left: 730px;
}
.skill-row {
    width: 70%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.intro {
    width: 30%;
    margin: auto;
}


    .btn {
        background: #11cdd4;
        background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
        background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
        background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
        background-image: -o-linear-gradient(top, #11cdd4, #11999e);
        background-image: linear-gradient(to bottom, #11cdd4, #11999e);
        -webkit-border-radius: 8;
        -moz-border-radius: 8;
        border-radius: 8px;
        font-family: 'Montserrat',sans-serif;
        color: #ffffff;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
      }
      
      .btn:hover {
        background: #30e3cb;
        background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
        text-decoration: none;
      }
      


.contact-me {
    width: 40%;
    margin: 40px auto 60px;
}

